<div class="w-full flex flex-col items-center">
  <p class="text-2xl font-medium mb-4">About</p>
  <div class="flex flex-col w-1/2">
    <p class="mb-2">This is xkwordle, a head-to-head wordle game written using the Phoenix Framework and Elixir!</p>
    <p>After my brother made the original head-to-head wordle game
    <a href="https://github.com/KeplerBoyce/gunnhacks8" class="text-blue-500">kwordle</a>,
    I wanted to try to rewrite it in Elixir for fun, and this is the result!</p>
  </div>
</div>
