<div phx-window-keydown="key_down">
  <p>Current room: <%= @room %></p>
  <h2>Words</h2>
  <%= for word <- @board do %>
    <KwordleWeb.Components.RoomComponents.show_word word={word} />
  <% end %>
  <KwordleWeb.Components.RoomComponents.show_word word={@str} />
</div>
