<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Kwordle", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <div class="sticky top-0 bg-white bg-opacity-50 backdrop-blur flex items-center gap-6 items-end p-2 pl-4 mx-4 mb-6 border-b">
        <a href="/" class="font-bold text-3xl hover:text-rose-600 duration-150">xkwordle</a>
        •
        <a href="/about" class="text-gray-600 hover:text-rose-600 duration-150">About</a>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
